html {
  height: 100%;
}

body {
  font-size: .875rem;
  position: relative;
  height: 100%;
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


.annotator-connective {
border: 1px dashed gray;
      border-radius: 3px;
      background-color: #efefef;
      padding: 0px 1px 0px 1px;
      margin: 1px;
      display: inline-block;
      /*text-decoration: underline;
      text-decoration-style: dashed;
      cursor: help;*/
}

.annotator-term {
  /*background-color: lime;*/
  border-radius: 3px;
      border: 1px solid #747474;
      padding: 0px 1px 0px 1px;
      margin: 1px 2px 1px 2px;
      display: inline-block;
      text-decoration: unset;
      cursor: auto;
}

.term-highlight {
   filter: brightness(150%);
}

.annotator-goal {
    margin: 0px 2px;
    padding: 0px 2px;
    border: 1px solid #a57a76;
    border-radius: 5px;
    display: inline-block;
    background: repeating-linear-gradient( 45deg, #ffdedb, #ffdedb 10px, white 10px, white 20px );
}

.ql-snow.ql-toolbar button:disabled, .ql-snow .ql-toolbar button:disabled {
  cursor: not-allowed;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

tr.tr-disabled {
  background: repeating-linear-gradient(
  45deg,
  #f0f0f0,
  #f0f0f0 10px,
  #e3e3e3 10px,
  #e3e3e3 20px
);
  color:#b1b1b1;
}

/*
 * Right aside.
 */
.right-aside {
  height: 100vh;
  width: 100%;
  background-color: #f8f9fa
}

.gutter {
  cursor: col-resize;
  height:100vh;
}

.split-left {
  min-width: 30vw;
}

.split-right {
  min-width: 15vw;
}
